<table style="padding: 10px; border-collapse: unset; border: 1px solid;">
  <tr style="text-align: center;">
    <th style="width: 200px;">Role</th>
    <th style="width: 300px;">Buyer</th>
    <th style="width: 300px;">Supplier</th>
  </tr>
  <tr>
    <th>Negotiated Price <strong>(NP)</strong></th>
    <td style="text-align: center;"><strong>-</strong></td>
    <td style="text-align: center;"><strong>+</strong></td>
  </tr>
  <tr>
    <th>Quality<strong>(Q)</strong></th>
    <td style="text-align: center;"><strong>+</strong></td>
    <td style="text-align: center;"><strong>-</strong></td>
  </tr>
  <tr>
    <th>Fixed Constraints</th>
    <th style="text-align: center;"><strong>Market Selling Price to Consumer
      (MP)</strong></th>
    <th style="text-align: center;"><strong>Production Cost (PC)</strong></th>
  </tr>
  <tr>
    <th>Profit Function</th>
    <td style="text-align: center;"><strong>Profit = MP + Q - NP</strong></td>
    <td style="text-align: center;"><strong>Profit = NP - Q - PC</strong></td>
  </tr>
</table>