{% block scripts %}
  <script src="{% static 'live_bargaining/js/instructions.js' %}"></script>
{% endblock %}

{% block title %}
  {% if player.round_number == 1 %}
    Instructions
  {% elif player.round_number == 2 %}
    Last Practice Round
  {% endif %}
{% endblock %}

{% block content %}
  {% if player.round_number == 1 %}
  <div class="card bg-light m-6">
    <div class="card-body">
      <div class="image-container">
        <img src="{% static 'live_bargaining/image/Pellet.jpg' %}"
             alt="Pellet Bag" width="240" align="right">
      </div>
      <p>
        You will be negotiating with
        {% if player.is_single == 1 %}
          an <strong>AI BOT</strong>
        {% else %}
          a <strong>Human</strong>
        {% endif %}
        counterpart in the upcoming round.
      </p>


      <p>Carefully read the instructions, as you will be financially rewarded for your performance.</p>
      <section>
          <h5>Overview:</h5>
          <p>In this exercise, you will participate in multiple rounds of negotiations over bags of pellets.</p>
          <ul>
              <li>The item is produced by the supplying company at a Production Cost (PC) of 3, 4, or 5.</li>
              <li>This item is sold by a retailer company at a Retail Price (RP) of 10, 11, or 12.</li>
              <li>The Retailer and Supplier negotiate via chat on Wholesale Price (w) & Quantity (q).</li>
              <li>Production Cost (PC) and Retail Price (RP) will be known to both parties.</li>
              <li>After each negotiation, Demand (D) will be randomly drawn [0, 100] (Equal Probability)</li>
              <li>Supplier carries the risk of unsold inventory (any q > Demand will expire).</li>
              <li>Both companies employ AI and humans to negotiate with counterpart representatives.</li>
              <li>You will be randomly rematched each round with a different counterpart.</li>
          </ul>
      </section>
      <p>
        For the rest of the experiment, you will play the role of a
        <strong>{% player.role %}</strong>.
      </p>
      <section>
        <h5>Objective:</h5>
        <p>Your goal is to agree on Wholesale Price (w) and Quantity (q) maximizing your profits.</p>
        <h5>Terms of Negotiation:</h5>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <p><strong>Supplier Profit</strong> = w * min(q, D) - PC * q</p>
                <p><strong>Example:</strong> Your Production Cost (PC) is 3€, and you just agreed with the retailer on a wholesale price (w) of 7€ and a quantity (q) of 50:</p>
                <ul>
                  <li>Demand (D) is 75: 7 * min(50, 75) - 3 * 50 = 200€</li>
                  <li>Demand (D) is 25: 7 * min(50, 25) - 3 * 50 = 25€</li>
                  <li>Demand (D) is 50: 7 * min(50, 50) - 3 * 50 = 200€</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>Retailer Profit</strong> = (RP - w) * min(q, D)</p>
                <p><strong>Example:</strong> Your Retail Price (RP) is 11€, and you just agreed with the supplier on a wholesale price (w) of 7€ and a quantity (q) of 50:</p>
                <ul>
                  <li>Demand (D) is 75: (11-7) * min(50, 75) = 200€</li>
                  <li>Demand (D) is 25: (11-7) * min(50, 25) = 100€</li>
                  <li>Demand (D) is 50: (11-7) * min(50, 50) = 200€</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
    </section>
      <p>
        <h5>Negotiation Rounds:</h5>
      </p>
      {% if player.is_single == 1 %}
        <ul style="list-style-type: '- ';padding-left: 0.5rem; margin-top: -15px">
          <li>
            10 rounds; The average profit * 0.02 from the non-practice rounds determine your financial reward.
          </li>
          <li>
            To warm up, you start with
            <strong>2 practice</strong> rounds (not counting towards your financial reward). 
          </li>
          <li>
            You will always negotiate against an AI Bot.
          </li>
          <li>
            The profits from the AI bot will be given to one of the humans training the AI bot. 
          </li>
        </ul>
      {% else %}
        <ul style="list-style-type: '- ';padding-left: 0.5rem; margin-top: -15px">
          <li>
            10 rounds; The average profit * 0.02 from the non-practice rounds determine your financial reward.
          </li>
          <li>
            To warm up, you start with
            <strong>2 practice</strong> rounds (not counting towards your financial reward). 
          </li>
          <li>
            You will always negotiate against other human participants. 
          </li>
        </ul>
      {% endif %}
      <p>
        You have 3 minutes per negotiation to reach an agreement.
        If the time runs out the outcome is an impasse (disagreement), and your profit will be zero. 
      </p>
      {% if player.role == C.ROLE_SUPPLIER %}
        <p>
          Click <strong> Next </strong> to attempt an instructions comprehension check before starting the first
          <strong>practice round</strong>.
        </p>
      {% else %}
        <p>
          Click <strong> Next </strong> to attempt an instructions comprehension check before starting the first
          <strong>practice round</strong>.
        </p>
      {% endif %}
    </div>
  </div>
  {% elif player.round_number == 2 %}
    <p>
      You will be negotiating with
      {% if player.is_single == 1 %}
        an <strong>AI BOT</strong>
      {% else %}
        a <strong>Human-being</strong>
      {% endif %}
      counterpart in the upcoming round.<br><br>
    </p>

    <br><br>
    <p>
      Click <strong>Next</strong> to start the negotiation.
    </p>
  {% endif %}

  <br>
  <p>
    <button id="nextButton" class="otree-btn-next btn btn-primary" disabled>
      Next
    </button>
  </p>
{% endblock %}
