<style>
  table {
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid;
  }

  th, td {
    border: 1px solid;
    padding: 8px;
  }
</style>

<table>
  <tr style="text-align: center;">
    <th style="width: 200px;">Role</th>
    <th style="width: 300px;">Buyer</th>
    <th style="width: 300px;">Supplier</th>
  </tr>
  <tr style="text-align: center;">
    <th>Constraints</th>
    <th style="text-align: center;">Market Selling Price to Consumer (MP)</th>
    <th style="text-align: center;">Production Cost (PC)</th>
  </tr>
  <tr style="text-align: center;">
    <th>Profit function</th>
    <td style="text-align: center;">Profit = MP + Quality - Negotiated Price</td>
    <td style="text-align: center;">Profit = Negotiated Price - Quality - PC</td>
  </tr>
</table>